@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SFPixelate";
  src: url("/fonts/SFPixelate.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "AnultraSlabRegular";
  src: url("/fonts/SFPixelate-Bold.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(7, 90, 16) rgba(0, 0, 0, 0.6);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(7, 90, 16);
  border-radius: 4px;
  /* border: 3px solid var(--primary); */
}
.text {
  font-weight: 100;
  font-size: 28px;
  color: #FAFAFA;
}

.dud {
  color: #757575;
}
.landingSectionTitle::before {
  content: "";
  position: absolute;
  left: 105%;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100vw;
  background-color: rgb(21 128 61);
}
.shad{
  text-shadow: 2px 4px 4px rgb(21 128 61);
}
.landingSectionTitle2::before {
  display: flex;
  flex-direction: row-reverse;
  content: "";
  position: absolute;
  left: 0px; /* Change to 0% */
  right: 105%; /* Change to 0px */
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100vw;
  background-color: rgb(21 128 61);
}
.landingSectionTitle2 {
  /* Your existing styles for .landingSectionTitle go here */
  display: flex;
  flex-direction: row-reverse;
}

.landingSectionTitle2 span {
  margin-left: 4px; /* Adjust as needed for spacing between the lines */
}
.button12{
  position: relative;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
 
}
.button12:hover{
  border: 1px solid transparent;
  background: black url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate 0.8s steps(8) forwards;
}
.button12:last-of-type{
  
}
.button12:last-of-type:hover{
  background:  url(https://i.postimg.cc/FzBWFtKM/pixel2.png);
}
@keyframes animate {
  0%{
      background-position-y: 0;
  }
  100%{
      background-position-y: -480px;
  }
}