.st0 {
  display: none;
}
.st1 {
  display: inline;
}
.st2 {
  fill: #16783c;
}
.st3 {
  fill: #ffffff;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.textScramble {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "SFPixelate", monospace;
  font-size: 30px;
  padding: 90px 0px;
}
.by{
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "SFPixelate", monospace;
  font-size: 20px;
  padding: 90px 0px;
  position: relative;
  
}

@media (min-width:320px)  { 
	.logo{
    min-width: fit-content;
    width: 300px;
  }/* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:340px)  {.logo{
  min-width: fit-content;
  width: 300px;
}/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  {
	.logo{
    width: 500px;
  }/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { 
	.logo{
    width: 600px;
  }
/* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1000px) {.logo{
  width: 700px;
}/* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) {
  .logo{
    width: 800px;
  }
}
	